body {
  background: url("../assets/kitchen.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: auto;
  padding-top: 140px;
  padding-bottom: 0;
}

address {
  font-size: 22px !important;
}

@media (max-width: 650px) {
  body {
    background: url("../assets/kitchen.png") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    height: auto;
    padding-top: 140px;
    padding-bottom: 0;
  }
}
